<div class="container-fluid">
    <div class="row">
      <h1>Hard and Soft Skills</h1>
      <div class="col col-12">
        <p class="label mx-3">HTML</p>
        <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <p class="label mx-3">JavaScript</p>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
            </div>
            <p class="label mx-3">CSS</p>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
            <p class="label mx-3">GitHub</p>
            <div class="progress mb-5">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
            <p class="label mx-3">Ingles</p>
            <div class="progress mb-5">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <p class="label mx-3">Trabajo en equipo</p>
            <div class="progress mb-5">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
    </div>
</div>
